@import '~mdb-ui-kit/css/mdb.min.css';
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.errorMsg{
    font-size: 10px;
    color: red;
}
.login-form input:focus {
    border-color: #ff574e;
  }
  .login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
  }
  .input_forgotpass{
    border:0;
    border-bottom:2px solid #3B71CA ;
    width: 100%;
    margin-top: 10px;
    padding: 0.33em 0.75em;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
  }