#overallSpinner {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
}

#blurLoading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
    background-color: rgba(0,0,0, 0.4);
    z-index: 1;
}