#overallSpinner {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
}

#blurLoading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
    background-color: rgba(0,0,0, 0.4);
    z-index: 1;
}

.image-container {
    position: relative;
    margin-top: 10px;
}

#image-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#image-close:hover {
    color: #e74c3c;
    height: 35px;
    width: 35px;
}

.errorMsg{
    color: red;
}

#serviceModal {
    width: 1600px;
    max-width: 100%;
  }